* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, #0b2c55, #1e5fa3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  width: 380px;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 25px 50px rgba(0,0,0,0.25);
  text-align: center;
}

h1 {
  color: #0b2c55;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #1e5fa3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 12px;
}

button:hover {
  background: #0b2c55;
}

a {
  text-decoration: none;
}
