<!DOCTYPE html>
<html>
<head>
  <title>Recuperar Nome</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="card">
  <h1>Recuperar Nome</h1>
  <p id="msg"></p>

  <input id="email" placeholder="Email">
  <button onclick="send()">Enviar</button>
</div>

<script>
function send() {
  fetch("/recover-username", {
    method: "POST",
    headers: {"Content-Type": "application/x-www-form-urlencoded"},
    body: "email=" + email.value
  })
  .then(r => r.json())
  .then(d => msg.innerText = d.msg);
}
</script>
</body>
</html>
